.nupp {
  background-color: brown;
  border-radius: 2px;
  color: white;
}

.nupp:hover {
  background-color: rgb(203, 54, 54);
  cursor: pointer;
}

.nupp:active {
  text-decoration: underline;
}

.pilt {
  /* height: 150px; */
  width: 150px;
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(0.95);
}

.tume {
  background-color: black;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.hele {
  background-color: rgb(255, 255, 255);
  text-align: center;
  min-height: 100vh;
}

.kuldne {
  color: goldenrod;
}

.pilt-mitteaktiivne {
  filter: grayscale(100%);
  width: 150px;
  opacity: 0.3;
}

.aktiivne {
  border: 1px solid green;
  background-color: rgb(237, 240, 237);
}

.mitteaktiivne {
  border: 1px solid red;
  background-color: rgb(237, 232, 232);
}